* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    font-family: 'Roboto', sans-serif;
}

.container {
    background: #23424A;
    padding: 5rem 0;
}

.want-to-learn {
    width: 80%;
    color: #FFFFFF;
    margin: 0 auto;
    max-width: 750px;
}

.sub_wrapper{
    width: 60%;
}

.sub_wrapper p{
    margin-bottom: 3em;
}
.sub_wrapper button {
    background: #38CFD9;
    border-radius: 100px;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #072A2D;
    border: none;
    padding: 0.5em 1.5em;
}